body {
  font-family: 'Courier New', Courier, monospace;
  margin: 40px;
  background-color: #1e1e1e;
}

.container {
  min-width: (90%, 1170px);
}

.wrapper1,
.wrapper2,
.wrapper3 {
  max-width: 1000px;
  background: rgb(196, 213, 229);
  padding: 20px;
  border-radius: 8px;
  margin: 40px auto;
}


.manipulation-instructions {
  font-size: 1rem;
  color: #212121;
  margin-bottom: 50px;
  font-weight: 600;

  code {
    color: #183865;
  }
}

#text-view {
  white-space: pre-wrap;
  min-height: 100px;
}

#text-edit {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

  &:active,
  &:focus {
    outline: 1px solid #246cd1;
  }
}

.hidden {
  display: none;
}

.wrapper2 {
  background: #9cbc9a;

  h2 {
    margin-top: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #576856;
  color: white;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: background-color 0.2s;
}

th:hover {
  background-color: #364135;
}

tr:hover {
  background-color: #f1fff1;
}

.wrapper3 {
  background: #efceed;
  min-height: 500px;
}

.resizable-box {
  position: relative;
  width: 300px;
  height: 200px;
  min-width: 150px;
  min-height: 100px;
  max-width: 1000px;
  max-height: 500px;
  padding: 20px;
  border: 2px solid #9a2690;
  background-color: rgba(255, 189, 245, 0.5);
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;

  .resizable-box h3 {
    margin-top: 0;
    color: #000000;
  }

  .resizable-box p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
  }

  .resizer {
    width: 20px;
    height: 20px;
    background-color: #9a2690;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;

    &:hover {
      background-color: #50264d;
    }
  }
}